.container_list_users{
    margin: 2rem 10% 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container_card_user{
    background-color: #F1F1F1;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 1rem 0;
}

.container_image_user{
    width: 5rem;   
    margin: 1rem;
}
.container_image_user img{
    width: 100%;
    object-fit: contain;
    border-radius: 1rem;
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.5);
}

.container_block_info_user{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
}
.container_block_info_user h3 p span{
    color:black;
}

.container_button_item a{
    text-decoration: none;
    color: #333333;
}
.container_button_item a span{
    padding-top: 5px;
    padding-left: 5px;
}

.container_button_item form button{
    border-style: none;
    color: #333333;
}
.container_button_item form button span{
    padding-top: 5px;
}
.container_button_item form button span:hover {
    cursor: pointer;
}

.container_button_item{
    margin-right: 2rem;
}

.item_action_product_user{
    width: 3rem;
    height: 3rem;   
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}

.container_item_svg_user_product{
    display: flex;
    justify-self: center;
    align-items: center;
}

.control-form-button-list-users { 
    display: flex;
    justify-content: center; 
    width: 100%;
}
.button-return-list-users {
    background-color: #B0976D;
    color:black;
    font-size : 15px;
    padding: 12px 32px;
    margin: 1rem;
    border-radius: 8px;
    border: none;
}
