/********CONFIGURACION GENERAL DEL FORMULARIO********/
.content-form-login-register{
    width: 100%;
    height: 77.5vh;
    display: flex;
    justify-content:start;
    flex-direction: column;
}

.create-form, .login-form {
    width: 80%;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}    
.create-form h1, .login-form h1 {
    font-size: 20px;
    text-align: center;
    color: white;
}

/*borra el resaltada de seleccion*/
:focus{outline: none;}


/******DISENIO PARA EL LOGIN Y REGISTER DE USUARIO***********/
/*************DISENIO DE LOS INPUTS**********************/
.control-field-login-register {
    margin: 1rem 0 1rem 0;
    float: left; 
    position: relative;
    width: 100%;
    display: flex;
}

.control-field-login-register .block-input-login-register{
    width: 95%;
}
.control-field-login-register .block-checkIcon-login-register{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.control-field-login-register .block-checkIcon-login-register .fa-check{
    /*IMAGEN PARA MARCAR VALIDACIONES DE LOS INPUTS*/
    color:green;
    /*display: none;*/
}
.control-field-login-register .block-checkIcon-login-register .fa-times{
    /*IMAGEN PARA MARCAR VALIDACIONES DE LOS INPUTS*/
    color:red;
    /*display: none;*/
}

.block-input-login-register label{
    color: #B0976D;
}

.control-field-login-register label {
    margin-bottom: 1rem;
}

input[type="text"]{
    font: 15px/24px "Lato", Arial, sans-serif;
    color: white;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

input[type="email"]{
    font: 15px/24px "Lato", Arial, sans-serif;
    color : white;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

input[type="password"]{
    font: 15px/24px "Lato", Arial, sans-serif;
    color : white;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

/**************CHECKBOX PERSONALIZADO*************************/
.login-container-checkbox{
    display: flex;
    width: 100%;
    justify-content:flex-start;
    align-items: center;
}

.login-label-checkbox{
    color:#B0976D;
    letter-spacing: 0.5px;
}


.login-remember-checkbox input[type=checkbox]{
    display: none; /*solo se esconde para tener un campo personalisado*/
  }
  
.login-remember-checkbox input[type=checkbox] + label{
    cursor:pointer;
  }/*esta linea significa esto + el siguiente elemento*/
  
.login-remember-checkbox label:before{
    content:'';
    background:transparent;
    border: 3px solid #88c64b;
    border-radius: 25px;
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 20px;
    text-align:center;
    text-shadow:4px -2px 3px gray;
    vertical-align:middle;
  }
.login-remember-checkbox input[type=checkbox]:checked + label:before{
    content: '✔';
    font-size: 1.5rem;
    font-family:'Times New Roman';
    color:#88c64b;
  }

/**************************************************************/


/*****************EFECTOS AL SELECCIONAR EL INPUT**********************/
/* linea para escribir - color inicial */
.input-login-register-effect {
    border: 0;
    padding: 5px 0;
    border-bottom: 1px solid #F1F1F1;
    background-color: transparent;
}

/* linea para escribir - color después del click */
.input-login-register-effect ~ .focus-border-login-register-effect {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color :#B0976D;
    transition: 0.4s;
}

.input-login-register-effect:focus ~ .focus-border-login-register-effect,
.has-content.focus-border-login-register-effect ~ .focus-border-login-register-effect {
    width: 100%; 
    transition: 0.4s;
    left: 0;
}

/* color nombre etiqueta */
.input-login-register-effect ~ label {
    position: absolute;
    left: 0;
    width: 100%; 
    top: 9px;
    color:#B0976D;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
}

/* Color del label cuando se va para atrás */
.input-login-register-effect:focus ~ label,
.has-content.input-login-register-effect ~ label { 
    top: -16px;
    font-size: 12px;
    color: #B0976D;
    transition: 0.3s;
    opacity: 0.5;
}

/*****************DISENIO PARA EL PERFIL USUARIO***********/

.container-image-perfil{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    padding: 1px;
}

.container-image-perfil .content-image-perfil{
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.content-image-perfil img{
    width: 100px;
}

.block-user-perfil h3, .block-user-perfil p, .block-user-perfil span{
    color: white;
}


/******************BOTON**************************/
.control-form-button { 
    display: flex;
    justify-content: center; 
    width: 100%;
}
.control-button {
    background-color: gray;/*#B0976D;*/
    color:black;
    font-size : 15px;
    padding: 12px 32px;
    margin: 1rem;
    border-radius: 8px;
    border: none;
}
.control-button-generic {
    background-color: #B0976D;
    color:black;
    font-size : 15px;
    padding: 12px 32px;
    margin: 1rem;
    border-radius: 8px;
    border: none;
}

.emojiCheck{
    color: white;
}

/*******************MEDIA QUERYS**********************/
@media (min-width: 768px) {

    .create-form, .login-form {
        width: 612px;
        margin: 0 auto;
    }
}