/*****Estilos del listado de productos*****/
*{
    box-sizing: border-box;
}
body{
    background-color: #161616;
}

/*************HEADER**************/
header{
    background-color: #333333;
    color: #FFFFFF;
    position: fixed;
    top: 0;
}
/**********************************/

/*****LISTADO DE PRODUCTOS DEL CARRITO 1col****/
.containerListProductCart{
    margin-top: 100px;
}
/**********************************/

/**********FOOTER******************/
footer{
    background-color: #F1F1F1;
}
/**********************************/