
.control-logo {
        width: 80px;
        height: 80px;
}

/* === Título de la Variedad del vino ===  */
.productName-title {
    color: #B0976D;
}

/* =========== Texto de la descripción del producto ================ */

 h3 {
    color: white;
    font-family:  Arial, sans-serif;
    font-size: 16px;
}

/* === Div de imagen más texto de al lado  == */
.productDetails {
    display: flex;
    
}


/* === Configuración de la imagen === */

.productImage {
    border-radius: 8px ;
}


/* == Configuración texto detalle al lado de image == */

.productLines {
    margin: 30px;

}

.bodega,
.price,
.description {
    color: white;
    font-family:  Arial, sans-serif;
    font-size: 16px;
}

.cantProd label {
    color: white;
    font-family:  Arial, sans-serif;
    font-size: 16px;
}

/* ====  Botón Agregar al carrito ==== */


.control-button {
    background-color: #B0976D;
    color:black;
    font-size : 15px;
    padding: 12px 32px;
    border-radius: 8px;
    border: none;
    margin-top : 30px;
}

.cart-button {
    
    display: inline-block;
    justify-content: center; 
    display: block;
    margin: 20px 3%;
    position: relative;
    width: 400px;
}



/******MEDIA QUERY MOBILE / TABLET**********/
@media (min-width: 360px) {

}

/***************WEB / TABLET**************/
@media (min-width: 500px) {

}




@media (min-width: 480px) {
    /* Tablets */

  
}

@media (min-width: 768px) {
    /* Laptops */

  
}


@media (min-width: 1279px) {
    /* Monitors */

  
}