<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club del Vino</title>
    <!--FAVICON-->
    <link rel="icon" type="image/png" href="/img/favicon.ico"/>
    <!--ESTILOS-->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!--ICONOS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com"><!--titulos h1 y h2-->
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com"><!--titulo club del vino-->
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <!--JAVASCRIPT-->
    <!--<script type="text/javascript" src="/js/effect.js"></script>-->
    <script type="text/javascript" src="/js/validationsForm.js"></script>
</head>