<header>
    <a class="logoHeader" href="http://localhost:3030/home" >
        <img src="/img/logoClubDelVino.png" alt="imagenLogo">
    </a>
    <div class="menuHeadersandwich">
        <input type="checkbox" id="toggle-menu">
        <label for="toggle-menu"><i class="fa fa-bars menu-icon"></i><!--menu sandwich--></label>
        <!--*****MENU DESPLEGABLE******-->
        <section class="home-menu-dropdown">
            <div class="list-menu">
                <ul>
                    <li><a href="http://localhost:3030/home">Tienda</a></li>
                    <li><a href="http://localhost:3030/products/productsCart">Carrito</a></li>
                    <li><a href="http://localhost:3030/users/login">Login</a></li>
                    <li><a href="http://localhost:3030/users/register">Registro</a></li>
                </ul>
            </div>
        </section>


        <!--<a id="menu-icon-id"><i class="fa fa-bars menu-icon"></i></a>--><!--menu sandwich-->
        <!--<a><i class="fa fa-arrow-left menu-icon-back"></i></a>--><!--boton volver menu sandwich oculto-->
        <!--a futuro hacer el cambio de icono por ahora se usa truco css checked-->
    </div>
    <div class="centerHeader">
        <a class="tituloHeader" href="http://localhost:3030/home">
            <h2>Club del Vino</h2>
        </a>
        <nav class="menuHeader">
            <ul>
                <li><a href="http://localhost:3030/home">Tienda</a></li>
                <li><a href="http://localhost:3030/products/productsCart">Carrito</a></li>
                <li><a href="http://localhost:3030/users/login">Login</a></li>
                <li><a href="http://localhost:3030/users/register">Registro</a></li>
            </ul>
        </nav>
    </div>
    <a class="shoppinCartHeader" href="http://localhost:3030/products/productsCart">
        <i class="fas fa-shopping-cart cartIcon"></i>
        <div class="cantArticlesHeader">
            <span>2</span>
        </div>
    </a>
</header>
<!----------ARREGLO DE ESPACIO DEL HEADER STIX Y EL RESTO DE LA PAGINA------------>
<div class="fix-space-header-stix">

</div>
<!-------------------------------------------------------------------------------->