<div class="product">
    <div class="product-marco">
        <a class="product-content" href="/products/productDescription">
            <div class="product-image">
                <img src="/img/vino4.png" alt="imagenDelProducto">
                <div class="product-icon-offer">
                    <i class="fa fa-medal"></i>
                </div>
            </div>               
            <div class="product-description">
                <h2>Nombre del Vino</h2>
                <p>Varietal: <span>Blanco</span></p>
                <p>Año: <span>2010</span></p>
            </div>
            <span>Mas información</span>
        </a>
        <hr>
        <div class="product-cost">
            <p>$ <span>12345</span></p>      
        </div>
        <div class="product-count">
            <p><button class="product-add-rest">-</button><span>1</span><button class="product-add-add">+</button></p>
        </div>
        <div class="product-buy">
            <a type="button" class="callToAction-add-product" href="/products/productsCart"><p>Agregar al carrito</p></a>
        </div>
    </div>
</div>