<!DOCTYPE html>
<html lang="es">

<!-- HEAD INICIO-->
<%- include('../partials/head.ejs') %>
<!-- HEAD FIN-->

 <body>

    <!------- HEADER INICIO ------------>
    <%- include('../partials/header.ejs') %>
    <!------- HEADER FIN ---------------->

    <!------------------------------------>
    <!-- Crear formulario de registro -->
    <section class="content-form-login-register">
      <form action="/home"  method="POST" class="create-form" enctype="multiplart/form-data">
        <h1>CREAR CUENTA</h1>
        
        <div class="control-field-login-register ">
          <div class="block-input-login-register">
            <input type="text" id="name" name="name" class="input-login-register-effect" placeholder autocomplete="off" required>
            <label>Nombre</label>
            <span class="focus-border-login-register-effect"></span>
          </div>
          <div class="block-checkIcon-login-register">
            <i class="fa fa-check"></i>
            <i class="fa fa-times"></i>
          </div>       
        </div>

        <div class="control-field-login-register ">
          <div class="block-input-login-register">
            <input type="text" id="lastname" name="lastname" class="input-login-register-effect" placeholder autocomplete="off" required>
            <label>Apellido</label>
            <span class="focus-border-login-register-effect"></span>
          </div>
          <div class="block-checkIcon-login-register">
            <i class="fa fa-check"></i>
            <i class="fa fa-times"></i>
          </div>
        </div>

        <div class="control-field-login-register ">
          <div class="block-input-login-register">
            <input type="email" id="email" name="email" class="input-login-register-effect" placeholder autocomplete="off" required>
            <label>Email</label>
            <span class="focus-border-login-register-effect"></span>
          </div>      
          <div class="block-checkIcon-login-register">
            <i class="fa fa-check"></i>
            <i class="fa fa-times"></i>
          </div>
        </div>

        <div class="control-field-login-register ">
          <div class="block-input-login-register">
              <input type="file" id="image" name="image" class="abmProducts-input-effect" placeholder autocomplete="off" required>
              <label for="image">Imagen</label>
              <span class="focus-border-login-register-effect"></span>
          </div>      
          <div class="block-checkIcon-login-register">
              <i class="fa fa-check"></i>
              <i class="fa fa-times"></i>
          </div>
      </div>

        <div class="control-field-login-register ">
          <div class="block-input-login-register">
            <input type="password" id="password" name="password" class="input-login-register-effect" placeholder autocomplete="off" required>
            <label>Contraseña</label>
            <span class="focus-border-login-register-effect"></span>
          </div>
          <div class="block-checkIcon-login-register">
            <i class="fa fa-check"></i>
            <i class="fa fa-times"></i>
          </div>
        </div>

        <div class="control-form-button">
          <button type="submit" class="control-button">REGISTRARSE</button>
        </div> 
      </form>
    </section>

    <!------- FOOTER INICIO ------------>
    <%- include('../partials/footer.ejs') %>
    <!------- FOOTER FIN ---------------> 
    
  </body>
  <script src="/js/effects.js"></script>
</html>