<!DOCTYPE html>
<html lang="es">

<!-- HEAD INICIO-->
<%- include('partials/head.ejs') %>
<!-- HEAD FIN-->

<body>
     <!------- HEADER INICIO ------------>
     <%- include('partials/header.ejs') %>
     <!------- HEADER FIN ---------------->
     
    <h1>PAGINA CRUD/ABM de productos</h1>

    <!------- FOOTER INICIO ------------>
    <%- include('partials/footer.ejs') %>
    <!------- FOOTER FIN --------------->


</body>
</html>