<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club del Vino</title>
    <!--ESTILOS-->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!--ICONOS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com"><!--titulos h1 y h2-->
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com"><!--titulo club del vino-->
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">

<!--NOTA MODULARICEMOS Y SEPAREMOS CON COMENTARIOS LAS PARTES QUE COMPONEN LA PAGINA 
    ASI PODEMOS DESPUES SACAR EL BLOQUE DE CODIGO Y USARLO EN LAS OTRAS PAGINAS.-->
</head>
<body>
<!--************HEADER*************-->
<header>
    <a class="logoHeader" href="http://localhost:3030/home" >
        <img src="/img/logoClubDelVino.png" alt="imagenLogo">
    </a>
    <div class="menuHeadersandwich">
        <input type="checkbox" id="toggle-menu">
        <label for="toggle-menu"><i class="fa fa-bars menu-icon"></i><!--menu sandwich--></label>
        <!--*****MENU DESPLEGABLE******-->
        <section class="home-menu-dropdown">
            <div class="list-menu">
                <ul>
                    <li><a href="http://localhost:3030/home">Tienda</a></li>
                    <li><a href="http://localhost:3030/products/productsCart">Carrito</a></li>
                    <li><a href="http://localhost:3030/user/login">Login</a></li>
                    <li><a href="http://localhost:3030/user/register">Registro</a></li>
                </ul>
            </div>
        </section>


        <!--<a id="menu-icon-id"><i class="fa fa-bars menu-icon"></i></a>--><!--menu sandwich-->
        <!--<a><i class="fa fa-arrow-left menu-icon-back"></i></a>--><!--boton volver menu sandwich oculto-->
        <!--a futuro hacer el cambio de icono por ahora se usa truco css checked-->
    </div>
    <div class="centerHeader">
        <a class="tituloHeader" href="http://localhost:3030/home">
            <h2>Club del Vino</h2>
        </a>
        <nav class="menuHeader">
            <ul>
                <li><a href="http://localhost:3030/home">Tienda</a></li>
                <li><a href="http://localhost:3030/products/productsCart">Carrito</a></li>
                <li><a href="http://localhost:3030/user/login">Login</a></li>
                <li><a href="http://localhost:3030/user/register">Registro</a></li>
            </ul>
        </nav>
    </div>
    <a class="shoppinCartHeader" href="http://localhost:3030/products/productsCart">
        <i class="fas fa-shopping-cart cartIcon"></i>
        <div class="cantArticlesHeader">
            <span>2</span>
        </div>
    </a>
</header>
<!----------------------------------->

<div class="fix-space-header-stix">

</div>
<!------------------------------------>
<!--****IMAGEN HERO SLIDER*****-->
<section class="hero">
    <div class="hero-slider">
        <ul>
            <li><img src="/img/banner1.jpg" alt="image1"></li>
            <li><img src="/img/banner0Event.jpg" alt="image2"></li>
            <li><img src="/img/banner3.jpg" alt="image3"></li>
        </ul>
    </div>
    <div class="description-business">
        <img class="description-business-image" src="/img/color_vino.jpg" alt="imagen descripcion">
        <article>
            <h1>Bodega Club del Vino</h1>
            <p>Con más de 40 años de trayectoria, El club del Vino se afianza con 10 sucursales de primer nivel, espacios de cata, personal especializado y la representación de las mejores bodegas nacionales e internacionales.
Nuestra misión es brindar una experiencia de compra superior, siempre con precios muy competitivos. Nos diferencia la experiencia y el conocimiento sobre los productos que ofrecemos y la vocación de servicio de todo nuestro personal.
            </p>
        </article>
    </div>
</section>
<!----------------------------------->
<main>
<!--***********BUSCADOR************-->
<section>
    <div class="search-container">
        <form action="search-products" method="POST" class="search">
            <input type="text" placeholder="Buscador">
            <div type="submit" class="icon-search"><i class="fa fa-search"></i></div>
        </form>
    </div>
</section>
<!----------------------------------->
<!--***LISTADO DE PRODUCTOS 3col***-->
<section class="section-list-products">
    <h2 class="title-list-products">Lista de productos</h2>
    <div class="container-products">
        <div class="product">
            <div class="product-marco">
                <a class="product-content" href="http://localhost:3030/products/productDescription">
                    <div class="product-image">
                        <img src="/img/vino4.png" alt="imagenDelProducto">
                        <div class="product-icon-offer">
                            <i class="fa fa-medal"></i>
                        </div>
                    </div>               
                    <div class="product-description">
                        <h2>Nombre del Vino</h2>
                        <p>Varietal: <span>Blanco</span></p>
                        <p>Año: <span>2010</span></p>
                    </div>
                    <span>Mas información</span>
                </a>
                <hr>
                <div class="product-cost">
                    <p>$ <span>12345</span></p>      
                </div>
                <div class="product-count">
                    <p><button class="product-add-rest">-</button><span>1</span><button class="product-add-add">+</button></p>
                </div>
                <div class="product-buy">
                    <a type="button" class="callToAction-add-product" href="http://localhost:3030/products/productsCart"><p>Agregar al carrito</p></a>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="product-marco">
                <a class="product-content" href="http://localhost:3030/products/productDescription">
                    <div class="product-image">
                        <img src="/img/vino4.png" alt="imagenDelProducto">
                        <div class="product-icon-offer">
                            <i class="fa fa-medal"></i>
                        </div>
                    </div>               
                    <div class="product-description">
                        <h2>Nombre del Vino</h2>
                        <p>Varietal: <span>Blanco</span></p>
                        <p>Año: <span>2010</span></p>
                    </div>
                    <span>Mas información</span>
                </a>
                <hr>
                <div class="product-cost">
                    <p>$ <span>12345</span></p>      
                </div>
                <div class="product-count">
                    <p><button class="product-add-rest">-</button><span>1</span><button class="product-add-add">+</button></p>
                </div>
                <div class="product-buy">
                    <a type="button" class="callToAction-add-product" href="http://localhost:3030/products/productsCart"><p>Agregar al carrito</p></a>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="product-marco">
                <a class="product-content" href="http://localhost:3030/products/productDescription">
                    <div class="product-image">
                        <img src="/img/vino4.png" alt="imagenDelProducto">
                        <div class="product-icon-offer">
                            <i class="fa fa-medal"></i>
                        </div>
                    </div>               
                    <div class="product-description">
                        <h2>Nombre del Vino</h2>
                        <p>Varietal: <span>Blanco</span></p>
                        <p>Año: <span>2010</span></p>
                    </div>
                    <span>Mas información</span>
                </a>
                <hr>
                <div class="product-cost">
                    <p>$ <span>12345</span></p>      
                </div>
                <div class="product-count">
                    <p><button class="product-add-rest">-</button><span>1</span><button class="product-add-add">+</button></p>
                </div>
                <div class="product-buy">
                    <a type="button" class="callToAction-add-product" href="http://localhost:3030/products/productsCart"><p>Agregar al carrito</p></a>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="product-marco">
                <a class="product-content" href="http://localhost:3030/products/productDescription">
                    <div class="product-image">
                        <img src="/img/vino4.png" alt="imagenDelProducto">
                        <div class="product-icon-offer">
                            <i class="fa fa-medal"></i>
                        </div>
                    </div>               
                    <div class="product-description">
                        <h2>Nombre del Vino</h2>
                        <p>Varietal: <span>Blanco</span></p>
                        <p>Año: <span>2010</span></p>
                    </div>
                    <span>Mas información</span>
                </a>
                <hr>
                <div class="product-cost">
                    <p>$ <span>12345</span></p>      
                </div>
                <div class="product-count">
                    <p><button class="product-add-rest">-</button><span>1</span><button class="product-add-add">+</button></p>
                </div>
                <div class="product-buy">
                    <a type="button" class="callToAction-add-product" href="http://localhost:3030/products/productsCart"><p>Agregar al carrito</p></a>
                </div>
            </div>
        </div>
    
    </div>
    
</section>
<!----------------------------------->
</main>

<!--************FOOTER*************-->
<footer>
    <p>copyright &copy</p>
</footer>
<!-----------------------------------> 
</body>