<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>LOG IN</title>
  <link rel="stylesheet" href="css/login.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <!--link fontawesome (logo)-->
  <script src="https://kit.fontawesome.com/a97ec517a8.js" crossorigin="anonymous"></script>

 </head>
 <body>
    <!-- Crear login -->
    <form action="/login"  method="POST" class="login-form">
        <div class="login-class">
            <h1>LOGUEATE</h1>
            <br>
            <i class="far fa-user-circle login-icon" width= '50%'></i>
        </div>
        <div class="login-input">
            <label for="email">Usuario</label>
            <input type="email" id="email" name="email">
        </div>
        <div class="login-input">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="login-input-button">

        <button type="submit" class="login-button">INICIAR SESION</button>
               
        </div> 

    </form>
  </body>
</html>