<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de productos</title>
<!--***********A futuro el siguiente bloque sera borrado (solo es para probar y trabajar separados********-->
    <!--ESTILOS-->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!--ICONOS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com"><!--titulos h1 y h2-->
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com"><!--titulo club del vino-->
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
<!--********************************************************************************************************-->
</head>
<body>
<!--************HEADER*************-->
<header>
    <div class="logoHeader">
        <img src="/img/logoClubDelVino.png" alt="imagenLogo">
    </div>
    <div class="menuHeadersandwich">
        <a id="menu-icon-id"><i class="fa fa-bars menu-icon"></i></a><!--menu sandwich-->
        <a><i class="fa fa-arrow-left menu-icon-back"></i></a><!--boton volver menu sandwich oculto-->
        <!--a futuro hacer el cambio de icono por ahora se usa truco css checked-->
    </div>
    <div class="centerHeader">
        <div class="tituloHeader">
            <h2>Club del Vino</h2>
        </div>
        <nav class="menuHeader">
            <ul>
                <li><a href="http://localhost:3030/home">Tienda</a></li>
                <li><a href="http://localhost:3030/productCart">Carrito</a></li>
                <li><a href="http://localhost:3030/login">Login</a></li>
                <li><a href="http://localhost:3030/register">Registro</a></li>
            </ul>
        </nav>
    </div>
    <div class="shoppinCartHeader">
        <i class="fas fa-shopping-cart cartIcon"></i>
        <div class="cantArticlesHeader">
            <span>2</span>
        </div>
    </div>
</header>
<!----------------------------------->
<!--*****MENU DESPLEGABLE******-->
<section class="home-menu-dropdown">
    <div class="list-menu">
        <ul>
            <li><a>Tienda</a></li>
            <li><a>Carrito</a></li>
            <li><a>login</a></li>
            <li><a>Register</a></li>
        </ul>
    </div>
</section>
<!------------------------------------>

<!--***LISTADO DE PRODUCTOS DEL CARRITO 1col***-->
    <div class="titleProductCart">
        <h2>Carrito de compras</h2>
    </div>
    <div class="containerListProductCart">        
        <section><!--Listado con scroll de productos seleccionados para comprar-->
            <div class="conteiner-product">
                <a class="image-product" href="http://localhost:3030/products/productDescription">
                    <img src="/img/vino4.png" alt="imagenProducto">
                </a>
                <a class="description-product" href="http://localhost:3030/products/productDescription">
                    <h3>Nombre del vino</h3>
                    <p>Año: <span>2011</span></p>
                    <p>Tipo: <span>Vino Blanco</span></p>
                </a>
                <div class="cost-delete-product">
                    <div class="delete-product">
                        <i class="fa fa-trash"></i>
                    </div>
                    <div class="cost-product">
                        <p>$ <span>12345</span></p>
                    </div>
                </div>
            </div> 
            <hr>
            <div class="conteiner-product">
                <a class="image-product" href="http://localhost:3030/products/productDescription">
                    <img src="/img/vino4.png" alt="imagenProducto">
                </a>
                <a class="description-product" href="http://localhost:3030/products/productDescription">
                    <h3>Nombre del vino</h3>
                    <p>Año: <span>2011</span></p>
                    <p>Tipo: <span>Vino Blanco</span></p>
                </a>
                <div class="cost-delete-product">
                    <div class="delete-product">
                        <i class="fa fa-trash"></i>
                    </div>
                    <div class="cost-product">
                        <p>$ <span>12345</span></p>
                    </div>
                </div>
            </div> 
            <hr>
            <div class="conteiner-product">
                <a class="image-product" href="http://localhost:3030/products/productDescription">
                    <img src="/img/vino4.png" alt="imagenProducto">
                </a>
                <a class="description-product" href="http://localhost:3030/products/productDescription">
                    <h3>Nombre del vino</h3>
                    <p>Año: <span>2011</span></p>
                    <p>Tipo: <span>Vino Blanco</span></p>
                </a>
                <div class="cost-delete-product">
                    <div class="delete-product">
                        <i class="fa fa-trash"></i>
                    </div>
                    <div class="cost-product">
                        <p>$ <span>12345</span></p>
                    </div>
                </div>
            </div> 
            <hr>
            <div class="conteiner-product">
                <a class="image-product" href="http://localhost:3030/products/productDescription">
                    <img src="/img/vino4.png" alt="imagenProducto">
                </a>
                <a class="description-product" href="http://localhost:3030/products/productDescription">
                    <h3>Nombre del vino</h3>
                    <p>Año: <span>2011</span></p>
                    <p>Tipo: <span>Vino Blanco</span></p>
                </a>
                <div class="cost-delete-product">
                    <div class="delete-product">
                        <i class="fa fa-trash"></i>
                    </div>
                    <div class="cost-product">
                        <p>$ <span>12345</span></p>
                    </div>
                </div>
            </div> 
            <hr>
            <div class="conteiner-product">
                <a class="image-product" href="http://localhost:3030/products/productDescription">
                    <img src="/img/vino4.png" alt="imagenProducto">
                </a>
                <a class="description-product" href="http://localhost:3030/products/productDescription">
                    <h3>Nombre del vino</h3>
                    <p>Año: <span>2011</span></p>
                    <p>Tipo: <span>Vino Blanco</span></p>
                </a>
                <div class="cost-delete-product">
                    <div class="delete-product">
                        <i class="fa fa-trash"></i>
                    </div>
                    <div class="cost-product">
                        <p>$ <span>12345</span></p>
                    </div>
                </div>
            </div> 
            <hr>
            <div class="conteiner-product">
                <a class="image-product" href="http://localhost:3030/products/productDescription">
                    <img src="/img/vino4.png" alt="imagenProducto">
                </a>
                <a class="description-product" href="http://localhost:3030/products/productDescription">
                    <h3>Nombre del vino</h3>
                    <p>Año: <span>2011</span></p>
                    <p>Tipo: <span>Vino Blanco</span></p>
                </a>
                <div class="cost-delete-product">
                    <div class="delete-product">
                        <i class="fa fa-trash"></i>
                    </div>
                    <div class="cost-product">
                        <p>$ <span>12345</span></p>
                    </div>
                </div>
            </div> 
            <hr>
            <div class="conteiner-product">
                <a class="image-product" href="http://localhost:3030/products/productDescription">
                    <img src="/img/vino4.png" alt="imagenProducto">
                </a>
                <a class="description-product" href="http://localhost:3030/products/productDescription">
                    <h3>Nombre del vino</h3>
                    <p>Año: <span>2011</span></p>
                    <p>Tipo: <span>Vino Blanco</span></p>
                </a>
                <div class="cost-delete-product">
                    <div class="delete-product">
                        <i class="fa fa-trash"></i>
                    </div>
                    <div class="cost-product">
                        <p>$ <span>12345</span></p>
                    </div>
                </div>
            </div> 
            <hr>
            
        </section>        
    </div>
    <div class="callToActionBuyProductCart-section-positionAbsolute"><!--total de precio y boton comprar-->
        <p><!--total costo-->
            Total: $ <span>12345</span>
        </p>
        <div class="button-buy"><!--boton call to action-->
            <button>Confirmar comprar</button>
        </div>
    </div>
<!----------------------------------->  

<!--************FOOTER*************-->
    <footer class="fill-fixed">
        <!--Este footer no se vera, es para rellenar espacio y que no queden tarjetas a medio mostrar-->
    </footer>
<!--
    <footer>
        <p>copyright &copy</p>
    </footer>
-->
<!----------------------------------->   
</body>
</html>