<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de productos</title>
<!--***********A futuro el siguiente bloque sera borrado (solo es para probar y trabajar separados********-->
    <!--ESTILOS-->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <!--ICONOS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com"><!--titulos h1 y h2-->
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com"><!--titulo club del vino-->
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
<!--********************************************************************************************************-->
</head>
<body>
<!--************HEADER*************-->
    <header>
        <h1>HEADER</h1>
    </header>
<!----------------------------------->

<!--***LISTADO DE PRODUCTOS DEL CARRITO 1col***-->
    <div class="containerListProductCart">
        <h2 class="titleProductCart">Carrito de compras</h2>
        <section><!--Listado con scroll de productos seleccionados para comprar-->
            
        </section>
        <section class="callToActionBuyProductCart-section-positionAbsolute"><!--total de precio y boton comprar-->
            <div><!--total costo-->
                Total:<span>1234$</span>
            </div>
            <div><!--boton call to action-->
                <button>Comprar</button>
            </div>
        </section>
    </div>
<!----------------------------------->  

<!--************FOOTER*************-->
    <footer>
        <p>copyrigth</p>
    </footer>
<!----------------------------------->   
</body>
</html>