<!DOCTYPE html>
<html lang="es">

<!-- HEAD INICIO-->
<%- include('partials/head.ejs') %>
<!-- HEAD FIN-->

<body>
<!------- HEADER INICIO ------------>
<%- include('partials/header.ejs') %>
<!------- HEADER FIN ---------------->

<!--***LISTADO DE PRODUCTOS DEL CARRITO 1col***-->
    <div class="titleProductCart">
        <h2>Carrito de compras</h2>
    </div>
    <div class="containerListProductCart">        
        <section><!--Listado con scroll de productos seleccionados para comprar-->
        <% for (let i=0; i<=7; i++){  %>
            <!-- PROD INICIO-->
            <%- include('partials/prodCart.ejs') %>
            <!-- PROD FIN-->
        <% } %>
        </section>   
    </div>
    <!-----------------------------------> 
    <div class="callToActionBuyProductCart-section-positionAbsolute"><!--total de precio y boton comprar-->
        <p><!--total costo-->
            Total: $ <span>12345</span>
        </p>
        <div class="button-buy"><!--boton call to action-->
            <button>Confirmar comprar</button>
        </div>
    </div>
<!----------------------------------->  

<!--************FOOTER*************-->
    <footer class="fill-fixed">
        <!--Este footer no se vera, es para rellenar espacio y que no queden tarjetas a medio mostrar-->
    </footer>
<!----------------------------------->   
</body>
</html>