<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club del Vino</title>
    <!--ESTILOS-->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!--ICONOS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com"><!--titulos h1 y h2-->
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com"><!--titulo club del vino-->
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    
    <!--link fontawesome (logo)-->
    <script src="https://kit.fontawesome.com/a97ec517a8.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<!--NOTA MODULARICEMOS Y SEPAREMOS CON COMENTARIOS LAS PARTES QUE COMPONEN LA PAGINA 
    ASI PODEMOS DESPUES SACAR EL BLOQUE DE CODIGO Y USARLO EN LAS OTRAS PAGINAS.-->
</head>
<body>

<!--************HEADER*************-->

<!------------------------------------>

<!------   Producto -------------------------->
<h1 class="descriptionProduct-title">Descripción</h1>
    <section class="container">
        <div class="descriptionProduct-container">
            <section class="descriptionProduct-name">
                <h1 class="descriptionProduct-name-title">
                Blend de Malbec Cabernet Merlot
                </h1>
            </section>
            
            <section class="descriptionProduct-description">
                <p>
                Un blend de gran concentración, con aromas frutales y notas ahumadas de café y vainilla aportadas por su paso en barricas de Roble Francés.
                </p>
            </section>

            <form action="">
                <section class="descriptionProduct-details">
                    <div class="descriptionProduct-image">
                        <img src="/img/vino5.png" alt="imagen del producto">
                    </div>
                    <div class="descriptionProduct-productLines">
                        <p class="bodega">Bodega: <span>La Añorada</span></p>
                        <p class="description-widescreen">
                            Un blend de gran concentración, con aromas frutales y notas ahumadas de café y vainilla aportadas por su paso en barricas de Roble Francés.
                        </p>
                        <p class="year">Año: <span>2018</span></p>
                        <p class="type">Tipo: <span>Blanco</span></p>
                        <p class="price">Precio: <span>$500</span></p>
                        <p class="description">12 meses RF</p>
                        <div class="cantProd">
                            <label for="quantity">Cantidad</label>
                            <select name="quantity" id="quantity">
                                <option value="0">0</option>
                                <option value="0">1</option>
                                <option value="0">2</option>
                                <option value="0">3</option>
                                <option value="0">4</option>
                                <option value="0">5</option>
                                <option value="0">6</option>
                            </select>
                        </div>
                    </div> 
                </section>
                <div class="descriptionProduct-cartButton">
                    <button type="submit">Agregar al carrito</button>
                </div>
            </form>
        </div>
    </section>
  <!----------------------------------->
  <!--************FOOTER*************-->

   <!----------------------------------->  
</body>
</html>