<!DOCTYPE html>
<html lang="es">

<!-- HEAD INICIO-->
<%- include('partials/head.ejs') %>
<!-- HEAD FIN-->

<body>

 <!------- HEADER INICIO ------------>
 <%- include('partials/header.ejs') %>
 <!------- HEADER FIN ---------------->

<!--*****MENU DESPLEGABLE******-->
<section class="home-menu-dropdown">
    <div class="list-menu">
        <ul>
            <li><a>Tienda</a></li>
            <li><a>Carrito</a></li>
            <li><a>login</a></li>
            <li><a>Register</a></li>
        </ul>
    </div>
</section>
<!------------------------------------>

<!--***LISTADO DE PRODUCTOS DEL CARRITO 1col***-->
    <div class="titleProductCart">
        <h2>Carrito de compras</h2>
    </div>
    <div class="containerListProductCart">        
        <section><!--Listado con scroll de productos seleccionados para comprar-->
            <div class="conteiner-product">
                <a class="image-product" href="http://localhost:3030/products/productDescription">
                    <img src="/img/vino4.png" alt="imagenProducto">
                </a>
                <a class="description-product" href="http://localhost:3030/products/productDescription">
                    <h3>Nombre del vino</h3>
                    <p>Año: <span>2011</span></p>
                    <p>Tipo: <span>Vino Blanco</span></p>
                </a>
                <div class="cost-delete-product">
                    <div class="delete-product">
                        <i class="fa fa-trash"></i>
                    </div>
                    <div class="cost-product">
                        <p>$ <span>12345</span></p>
                    </div>
                </div>
            </div> 
            <hr>
            <div class="conteiner-product">
                <a class="image-product" href="http://localhost:3030/products/productDescription">
                    <img src="/img/vino4.png" alt="imagenProducto">
                </a>
                <a class="description-product" href="http://localhost:3030/products/productDescription">
                    <h3>Nombre del vino</h3>
                    <p>Año: <span>2011</span></p>
                    <p>Tipo: <span>Vino Blanco</span></p>
                </a>
                <div class="cost-delete-product">
                    <div class="delete-product">
                        <i class="fa fa-trash"></i>
                    </div>
                    <div class="cost-product">
                        <p>$ <span>12345</span></p>
                    </div>
                </div>
            </div> 
            <hr>
            <div class="conteiner-product">
                <a class="image-product" href="http://localhost:3030/products/productDescription">
                    <img src="/img/vino4.png" alt="imagenProducto">
                </a>
                <a class="description-product" href="http://localhost:3030/products/productDescription">
                    <h3>Nombre del vino</h3>
                    <p>Año: <span>2011</span></p>
                    <p>Tipo: <span>Vino Blanco</span></p>
                </a>
                <div class="cost-delete-product">
                    <div class="delete-product">
                        <i class="fa fa-trash"></i>
                    </div>
                    <div class="cost-product">
                        <p>$ <span>12345</span></p>
                    </div>
                </div>
            </div> 
            <hr>
            <div class="conteiner-product">
                <a class="image-product" href="http://localhost:3030/products/productDescription">
                    <img src="/img/vino4.png" alt="imagenProducto">
                </a>
                <a class="description-product" href="http://localhost:3030/products/productDescription">
                    <h3>Nombre del vino</h3>
                    <p>Año: <span>2011</span></p>
                    <p>Tipo: <span>Vino Blanco</span></p>
                </a>
                <div class="cost-delete-product">
                    <div class="delete-product">
                        <i class="fa fa-trash"></i>
                    </div>
                    <div class="cost-product">
                        <p>$ <span>12345</span></p>
                    </div>
                </div>
            </div> 
            <hr>
            <div class="conteiner-product">
                <a class="image-product" href="http://localhost:3030/products/productDescription">
                    <img src="/img/vino4.png" alt="imagenProducto">
                </a>
                <a class="description-product" href="http://localhost:3030/products/productDescription">
                    <h3>Nombre del vino</h3>
                    <p>Año: <span>2011</span></p>
                    <p>Tipo: <span>Vino Blanco</span></p>
                </a>
                <div class="cost-delete-product">
                    <div class="delete-product">
                        <i class="fa fa-trash"></i>
                    </div>
                    <div class="cost-product">
                        <p>$ <span>12345</span></p>
                    </div>
                </div>
            </div> 
            <hr>
            <div class="conteiner-product">
                <a class="image-product" href="http://localhost:3030/products/productDescription">
                    <img src="/img/vino4.png" alt="imagenProducto">
                </a>
                <a class="description-product" href="http://localhost:3030/products/productDescription">
                    <h3>Nombre del vino</h3>
                    <p>Año: <span>2011</span></p>
                    <p>Tipo: <span>Vino Blanco</span></p>
                </a>
                <div class="cost-delete-product">
                    <div class="delete-product">
                        <i class="fa fa-trash"></i>
                    </div>
                    <div class="cost-product">
                        <p>$ <span>12345</span></p>
                    </div>
                </div>
            </div> 
            <hr>
            <div class="conteiner-product">
                <a class="image-product" href="http://localhost:3030/products/productDescription">
                    <img src="/img/vino4.png" alt="imagenProducto">
                </a>
                <a class="description-product" href="http://localhost:3030/products/productDescription">
                    <h3>Nombre del vino</h3>
                    <p>Año: <span>2011</span></p>
                    <p>Tipo: <span>Vino Blanco</span></p>
                </a>
                <div class="cost-delete-product">
                    <div class="delete-product">
                        <i class="fa fa-trash"></i>
                    </div>
                    <div class="cost-product">
                        <p>$ <span>12345</span></p>
                    </div>
                </div>
            </div> 
            <hr>
            
        </section>        
    </div>
    <div class="callToActionBuyProductCart-section-positionAbsolute"><!--total de precio y boton comprar-->
        <p><!--total costo-->
            Total: $ <span>12345</span>
        </p>
        <div class="button-buy"><!--boton call to action-->
            <button>Confirmar comprar</button>
        </div>
    </div>
<!----------------------------------->  

<!--************FOOTER*************-->
    <footer class="fill-fixed">
        <!--Este footer no se vera, es para rellenar espacio y que no queden tarjetas a medio mostrar-->
    </footer>
<!--
    <footer>
        <p>copyright &copy</p>
    </footer>
-->
<!------- FOOTER INICIO ------------>
<%- include('partials/footer.ejs') %>
<!------- FOOTER FIN --------------->

<!----------------------------------->   
</body>
</html>