<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club del Vino</title>
    <!--ESTILOS-->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!--ICONOS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com"><!--titulos h1 y h2-->
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com"><!--titulo club del vino-->
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    
    <!--link fontawesome (logo)-->
    <script src="https://kit.fontawesome.com/a97ec517a8.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<!--NOTA MODULARICEMOS Y SEPAREMOS CON COMENTARIOS LAS PARTES QUE COMPONEN LA PAGINA 
    ASI PODEMOS DESPUES SACAR EL BLOQUE DE CODIGO Y USARLO EN LAS OTRAS PAGINAS.-->
</head>
 <body>
<!--************HEADER*************-->

<!------------------------------------>
    <!-- Crear formulario de registro -->
    <section class="content-form-login-register">
      <form action="/create-account"  method="POST" class="create-form">
        <h1>CREAR CUENTA</h1>
        
        <div class="control-field-login-register ">
          <div class="block-input-login-register">
            <input type="text" id="name" name="name" class="input-login-register-effect" placeholder autocomplete="off" required>
            <label>Nombre</label>
            <span class="focus-border-login-register-effect"></span>
          </div>
          <div class="block-checkIcon-login-register">
            <i class="fa fa-check"></i>
            <i class="fa fa-times"></i>
          </div>       
        </div>

        <div class="control-field-login-register ">
          <div class="block-input-login-register">
            <input type="text" id="lastname" name="lastname" class="input-login-register-effect" placeholder autocomplete="off" required>
            <label>Apellido</label>
            <span class="focus-border-login-register-effect"></span>
          </div>
          <div class="block-checkIcon-login-register">
            <i class="fa fa-check"></i>
            <i class="fa fa-times"></i>
          </div>
        </div>

        <div class="control-field-login-register ">
          <div class="block-input-login-register">
            <input type="email" id="email" name="email" class="input-login-register-effect" placeholder autocomplete="off" required>
            <label>Email</label>
            <span class="focus-border-login-register-effect"></span>
          </div>      
          <div class="block-checkIcon-login-register">
            <i class="fa fa-check"></i>
            <i class="fa fa-times"></i>
          </div>
        </div>

        <div class="control-field-login-register ">
          <div class="block-input-login-register">
            <input type="password" id="password" name="password" class="input-login-register-effect" placeholder autocomplete="off" required>
            <label>Contraseña</label>
            <span class="focus-border-login-register-effect"></span>
          </div>
          <div class="block-checkIcon-login-register">
            <i class="fa fa-check"></i>
            <i class="fa fa-times"></i>
          </div>
        </div>

        <div class="control-form-button">
          <button type="submit" class="control-button">REGISTRARSE</button>
        </div> 

      </form>
    </section>

    <!--************FOOTER*************-->

    <!-----------------------------------> 
  </body>
  <script src="/js/effects.js"></script>
</html>