<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club del Vino</title>
    <!--ESTILOS-->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!--ICONOS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com"><!--titulos h1 y h2-->
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com"><!--titulo club del vino-->
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    
    <!--link fontawesome (logo)-->
    <script src="https://kit.fontawesome.com/a97ec517a8.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<!--NOTA MODULARICEMOS Y SEPAREMOS CON COMENTARIOS LAS PARTES QUE COMPONEN LA PAGINA 
    ASI PODEMOS DESPUES SACAR EL BLOQUE DE CODIGO Y USARLO EN LAS OTRAS PAGINAS.-->
</head>
 <body>
   <!--************HEADER*************-->
   <header>
    <a class="logoHeader" href="http://localhost:3030/home" >
      <img src="/img/logoClubDelVino.png" alt="imagenLogo">
    </a>
    <div class="menuHeadersandwich">
      <input type="checkbox" id="toggle-menu">
      <label for="toggle-menu"><i class="fa fa-bars menu-icon"></i><!--menu sandwich--></label>
      <!--*****MENU DESPLEGABLE******-->
      <section class="home-menu-dropdown">
          <div class="list-menu">
              <ul>
                  <li><a href="http://localhost:3030/home">Tienda</a></li>
                  <li><a href="http://localhost:3030/productCart">Carrito</a></li>
                  <li><a href="http://localhost:3030/login">Login</a></li>
                  <li><a href="http://localhost:3030/register">Registro</a></li>
              </ul>
          </div>
      </section>
    </div>
    <div class="centerHeader">
      <a class="tituloHeader" href="http://localhost:3030/home" >
        <h2>Club del Vino</h2>
     </a>
        <nav class="menuHeader">
            <ul>
                <li><a href="http://localhost:3030/home">Tienda</a></li>
                <li><a href="http://localhost:3030/productCart">Carrito</a></li>
                <li><a href="http://localhost:3030/login">Login</a></li>
                <li><a href="http://localhost:3030/register">Registro</a></li>
            </ul>
        </nav>
    </div>
    
</header>
<!----------------------------------->
<div class="fix-space-header-stix">

</div>

<!------------------------------------>
    <!-- Crear formulario de registro -->
    <form action="/create-account"  method="POST" class="create-form">
      <h1>CREAR CUENTA</h1>
      
      <div class="control-field input-effect"> == $0
        <input type="text" id="name" name="name" class="effect-1" placeholder >
        <label>Nombre</label>
        <span class="focus-border"></span>
      </div>

      <div class="control-field input-effect"> == $0
        <input type="text" id="lastname" name="lastname" class="effect-1" placeholder >
        <label>Apellido</label>
        <span class="focus-border"></span>
      </div>

      <div class="control-field input-effect"> == $0
        <input type="email" id="email" name="email" class="effect-1" placeholder >
        <label>Correo electrónico</label>
        <span class="focus-border"></span>
      </div>

      <div class="control-field input-effect"> == $0
        <input type="password" id="password" name="password" class="effect-1" placeholder >
        <label>Contraseña</label>
        <span class="focus-border"></span>
      </div>
      
      <div class="control-form-button">
        <button type="submit" class="control-button">REGISTRARSE</button>
      </div> 

    </form>
    <script src="effects.js"></script>

    <!--************FOOTER*************-->
    <footer>
      <p>copyright &copy</p>
    </footer>
    <!-----------------------------------> 
  </body>
</html>