<!DOCTYPE html>
<html lang="es">

<!-- HEAD INICIO-->
<%- include('../partials/head.ejs') %>
<!-- HEAD FIN-->

<body>
<!-- HEADER INICIO-->
<%- include('../partials/header.ejs') %>
<!-- HEADER FIN-->

<section class="contentSectionError404">
    <h1 class="titleError404">Lo sentimos, esta página está en mantenimiento</h1>
    <div class="contentImageError404">
        <img src="/img/error404.jpg" alt="imagenError">
    </div>
    <h2 class="messageError404">Le pedimos disculpas y lo invitamos a volver al home del site</h2>
    <h2 class="messageError404">Muchas Gracias</h2>
</section>

<!------- FOOTER INICIO ------------>
<%- include('../partials/footer.ejs') %>
<!------- FOOTER FIN --------------->

</body>
</html>